{% extends 'newsletter/main.html' %}

{% load static %}

{% block content %}

<br>

<div class="row bg-secondary">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h3>Latest Issue</h3>
        <div class="card card-body bg-secondary">

            {% for element in latest_issue_elements %}
                <p> {{ element.text }}</p>

                {% if element.image.url != None %}
                    <img src="{{ element.image.url }}">
                {% endif %}

                {% if element.link_name != None and element.link_url != None %}
                    <a href="{{ element.link_url }}">{{ element.link_name }}</a>
                {% endif %}

            {% endfor %}

        </div>
    </div>

{% endblock %}
