{% extends 'newsletter/main.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-md-6">
        <div class="card card-body">

            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% for element in elements %}
                    <div class="card card-body bg-secondary">

                        <p class="test">{{ element.text }}</p>

                        {% if element.image.url != None %}
                            <img src="{{ element.image.url }}">
                        {% endif %}

                        {% if element.link_name != None and element.link_url != None %}
                            <a href="{{ element.link_url }}">{{ element.link_name }}</a>
                        {% endif %}

                    </div>
                {% endfor %}

                {{ element_form | crispy }}

                <button class="btn btn-sm btn-info" type="submit">Add</button>
                <a class="btn btn-sm btn-info" href="{% url 'issue' issue.pk %}">Finish</a>
            </form>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>

{% endblock %}
