{% extends 'newsletter/main.html' %}

{% load static %}

{% block content %}

<div class="row bg-secondary">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        {% for element in elements %}
            <div class="card card-body bg-secondary">

                <p class="test">{{ element.text }}</p>

                {% if element.image.url != None %}
                    <img src="{{ element.image.url }}">
                {% endif %}

                {% if element.link_name != None and element.link_url != None %}
                    <a href="{{ element.link_url }}">{{ element.link_name }}</a>
                {% endif %}

            </div>
        {% endfor %}
    </div>
    <div class="col-sm-4"></div>
</div>

<a class="btn btn-sm btn-info" href="{% url 'edit_issue' issue.id %}">Edit Issue</a>
<a class="btn btn-sm btn-info" href="{% url 'newsletter' %}">Back</a>


{% endblock %}
