{% extends 'newsletter/main.html' %}

{% load static %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Past Issues</h5>

            <table class="table table-sm">
                {% for issue in issues %}
                    <tr>
                        <td><a class="btn btn-sm btn-info" href="{% url 'issue' issue.pk %}">{{ issue.title }}</a></td>
                    </tr>
                {% endfor %}
            </table>

            <a class="btn btn-sm btn-info" href="{% url 'create_issue' %}">Create New Issue</a>

        </div>
    </div>
</div>

{% endblock %}
