{% extends 'newsletter/main.html' %}

{% load static %}

{% block content %}

<br>

<div class="row bg-secondary">
    <div class="col-md bg-secondary">
        <div class="card card-body bg-secondary">
            <h5>Past Issues</h5>

            <table class="table table-sm">
                <tr>
                    <td>
                        <a class="btn btn-sm btn-info" href="{% url 'create_issue' %}">Create New Issue</a>
                    </td>
                </tr>
                {% for issue in issues %}
                    <tr>
                        <td>
                            <a class="btn btn-sm btn-info" href="{% url 'issue' issue.0.id %}">{{ issue.1.0.text }}</a>
                            <a class="btn btn-sm btn-danger" href="{% url 'delete_issue' issue.0.id %}">Delete Issue</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
</div>

{% endblock %}
