{% extends 'newsletter/main.html' %}

{% load static %}

{% block content%}

<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Past Episodes</h5>

            <table class="table table-sm">
                {% for episode in episodes %}
                    <tr>
                        <td><a class="btn btn-sm btn-info" href="{% url 'episode' episode.pk %}">{{ episode.title }}</a></td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
</div>

{% endblock %}
